@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
}

.header-section {
    flex: 1;
    text-align: center;
}

.header-logo {
    transform: rotate(-9deg);
}

.header-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Knewave';
}

.header-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header-menu a {
    color: white;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
}

.header-auth button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-auth {
    display: flex;
    align-items: center;
}

.auth-buttons {

}

.btn-signup {
    background-color: #6f32a8;
    color: white;
    margin-left: 20px;
    transition: 0.2s;
    padding: 5px 15px 5px 15px;
    border: 1px solid #6f32a8;
}

.btn-signup:hover {
    background-color: #5c2a91;
    transition: 0.2s;
}

.btn-login {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.2s;
    padding: 5px 15px 5px 15px;
}

.btn-login:hover {
    background-color: white;
    color: #333;
    transition: 0.2s;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header-menu.active, .header-menu .header-auth {
    display: block;
}

@media (max-width: 768px) {
    .header-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .header-menu, .header-auth {
        flex-direction: column;
        align-items: flex-start;
    }
}


.user-profile {
    position: relative;
    cursor: pointer;
}

.user-profile img {
    border-radius: 100px;
    /*border: 1px solid #ffffff;*/
    width: 40px;
    height: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 200px;
    right: 0;
    top: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

.user-profile:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a,
.dropdown-menu button {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu button {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background-color: #e9e9e9;
}


.right-side-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    margin-right: 25px;
    
}

.notification-icon .notif-icon {
    width: 28px;
    cursor: pointer;
}

.notification-icon span {
    right: 78px;
    top: 30px;
    position: absolute;
}

/*Notifications*/

.notifications-popup {
    z-index: 1;
    width: 350px;
    height: 200px auto;
    position: absolute;
    background-color: #33333300;
    right: 70px;
    top: 80px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ffffff05;
    backdrop-filter: blur(20px);
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    visibility: hidden; /* Початково приховуємо */
}

.notifications-popup.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; /* Показуємо при натисканні */
}


.notifications-popup.hidden {
    display: none; /* Залишаємо прихованим */
}


.notification-item {
    display: flex;
}

.notification-item-info .verified-badge {
    height: 15px;
    width: auto;
    padding: 0px 5px 0px 2px;
}

.notify-name {
    display: flex;
    align-items: center;
}

.notification-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff2e;
}


.notification-item-picture {
    display: flex;
}

.notification-item-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-item img {
    width: 75px;
height: 75px;
}

.notification-item-info {
    padding: 0px 10px 0px 10px;
}

.notification-item-btns {
    display: flex;
    gap: 10px;
}


.notification-count.active {
    background-color: #6f32a8;
    padding: 1px 6px;
    font-size: 12px;
    animation: pulse 1s infinite;
    border-radius: 50px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
